<%= form_with(model: director) do |form| %>

<form>
  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "dark-gray-5 form-control" %>
    <%= errors_for(form, :name) %>
  </div>

  <div class="btn-form-right">
   <%= link_to "Cancelar", directors_path, class: ' btn cancel decoration btn-form-margin' %>
    <%= form.submit "Salvar", class: 'btn primary' %>
  </div>
</form>
<% end %>
