<div class="card mb-3 col-12 dark-gray-6">
  <div class="row g-0 rounded dark-gray-6">
    <div class="col-md-6 mainCard">
      <%= image_tag Movie.select(:cover).last['cover'] %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title"><%= Movie.select(:title).last['title'] %></h5>
        <p class="card-text"><small class="text-muted">Estreia: <%= Movie.select(:published_at).last['published_at']%></small></p>
        <p class="card-text"><small class="text-muted"><%= Movie.select(:synopsis).last['synopsis']%></small></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
 <% Movie.select(:synopsis, :cover, :title, :published_at).last(4).reverse.drop(1).each do |data| %>
    <div class="col-sm-4">
        <div class="card dark-gray-6" style="height: 28rem;">
            <%= image_tag data.cover, class: 'card-img-top'%>
            <div class="card-body">
            <h5 class="card-title"><%= data.title %></h5>
            <p class="card-text"><small class="text-muted">Lançamento:  <%= format_year(data.published_at) %></small></p>
            <p class="card-text"><small class="text-muted"><%= truncate(data.synopsis, :length => 200)%></small></p>
            </div>
        </div>
    </div>
  <% end %>
</div>